rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ДАТАБАЗТ ХЭН Ч, ЯМАР Ч ХЯЗГААРЛАЛТГҮЙ ХАНДАХЫГ ЗӨВШӨӨРНӨ
    // Энэ нь зөвхөн хөгжүүлэлтийн үед түр ашиглахад зориулагдсан, аюулгүй бус дүрэм юм.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
